<!DOCTYPE html>
<html>

{{- partial "head.html" . -}}

<body>

  <div id="container">

    {{- partial "header.html" . -}}
    {{- partial "navigation.html" . -}}

    <section id="content">
      <!-- <h4>Single</h4> -->
      <p class="meta-data">
        <span class="post-date">{{ .Date.Format "Jan 2, 2006 3:04 PM" }}</span>
      </p>
    <h1 class="post-title">
      <!-- <span class="fas fa-align-right"></span> -->
      {{ .Title }}
      <!-- <span class="fas fa-align-left"></span> -->
    </h1>

      <div class="post-body">
        {{ .Content }}
      </div>
  
      <p class="post-mark">
        <span class="fas fa-envelope"></span>
        <span>Posted By {{ .Params.author | default "Hilton Lipschitz" }}</span>
        &middot;
        <span class="fas fa-clock"></span>
        <span>{{ .Date.Format "Jan 2, 2006 3:04 PM" }}</span>
      </p>
      
      <div class="pagination">
        <ul>
        {{ with .NextInSection }}
          <li class="post-previous"><a href="{{.Permalink}}">&larr;  {{.Title}}</a></li>
        {{ end }}
        
        <li class="post-center">&nbsp;</li>
        
        {{ with .PrevInSection }}
          <li class="post-next"><a  href="{{.Permalink}}">{{.Title}} &rarr;</a></li>
        {{ end }}
        
        </ul>
      </div>
  
    </section>

    {{- partial "sidebar.html" . -}}
    {{- partial "footer.html" . -}}

  </div>
  
</body>

</html>
