<section>
  <h1>The Hiltmon Dot Com</h1>
  <p><strong>Hilton Lipschitz</strong> is Cofounder and CTO of <a href="https://openyld.com">OpenYield</a>, building the next generation Bond Marketplace. Before this, he was an independent software consultant, architect, designer and developer at <a href="https://noverse.com">Noverse LLC</a> (his own small business).</p>
<p>For the past 33 years he has specialized in the architecture, design, development, operations and trading of bespoke comprehensive front-to-back, multi-asset, <em>automated and algorithmic</em> trading, portfolio management and asset management systems to enable and grow three asset managers.</p>
  <p>
	  <a href="https://mastodon.social/@hiltmon" rel="me">Mastodon</a> &middot;
    <!-- <a href="https://twitter.com/hiltmon">Twitter</a> &middot; -->
	  <a href="https://github.com/hiltmon">Github</a> &middot;
	  <a href="https://www.linkedin.com/in/hiltmon/">LinkedIn</a> &middot;
    <a href="https://hiltmon.com/index.xml">RSS</a>
  </p>
</section>
